.glowContainer {
  width: 35rem;
  position: absolute;
  top: 0%;
  left: 10%;
}
.glow {
  width: 100%;
  opacity: 0.4;
  transform: rotate(180deg);
}

.brightStar {
  position: absolute;
  object-fit: contain;
  object-position: 10% 10%;
  z-index: 0;
}

.glowBannerImg {
  width: 18rem;
  left: 0;
  top: 0;
  z-index: 3;
}
.glowPrize {
  opacity: 0.6;
}

.transformTranslateStar {
  transform: translate(-50%, -50%);
}

@media (max-width: 26.75rem) {
  .glowContainer {
    width: 17rem;
    position: absolute;
    top: 0%;
    left: 10%;
  }
}

@media (max-width: 20rem) {
  .glowContainer {
    width: 10rem;
    position: absolute;
    top: 0%;
    left: 10%;
    z-index: 1;
  }
}
