.active {
  position: sticky;
  top: 0;
  background-color: var(--dark);
  z-index: 25;
}
.nav {
  height: 3.625rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
  border-bottom: 0.0625rem solid #ffffff23;
  position: relative;
}

.logo {
  flex-basis: 10%;
}

.logo img {
  width: 10.7125rem;
  display: block;
  /* width: 100%; */
  object-fit: contain;
}
.navNavLinksContainer {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  height: 2.0125rem;
  flex-basis: 50%;
  font-weight: 700;
}

.navNavLinksContainer li {
  vertical-align: middle;
  flex-basis: 10%;
  width: max-content;
  padding: 0 1rem;
}

.menuBtn,
.openMenuContainer {
  display: none;
}
.navNavLinksContainer li:last-child {
  margin-left: auto;
  padding: 0;
}

.navitem {
  display: block;
  padding: 0.2rem;
  font-size: var(--textSize);
  color: var(--white);
  text-decoration: none;
}

.RegisterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, var(--primary1), transparent),
    linear-gradient(to right, var(--primary2), transparent);
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4%;
  border: none;
}

.active {
  color: var(--tertiary);
}

@media (max-width: 26.75rem) {
  .menuBtn,
  .openMenuContainer {
    display: block;
  }

  .navNavLinksContainer {
    position: absolute;
    top: 0%;
    transform: translateY(-500%);
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    height: 2.0125rem;
    flex-basis: 50%;
    font-weight: 700;
    width: 100%;
    transition: 0.6s ease all;
    height: max-content;
    background-color: var(--dark);
    padding: 0 0 1rem 0;
    z-index: 30;
  }

  .navNavLinksContainer li {
    width: 80%;
    margin: 0 auto;
    padding: 1.3rem 0;
    font-weight: 900;
  }
  .navNavLinksContainer li:first-child {
    position: relative;
    margin: 0 5% 0 auto;
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-clip: padding-box;
    border: 0.3125rem solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(to left, var(--primary1), transparent),
      linear-gradient(to right, var(--primary2), transparent);
    color: var(--white);
  }

  .menuBtn img {
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 50%;
  }

  .navNavLinksContainer li:last-child {
    margin-left: unset;
    margin: 0 auto;
  }

  .RegisterBtn {
    padding: 1rem;
    width: 50%;
  }
}
