.App {
  /* background: linear-gradient(to left, var(--primary1), var(--primary2)); */
  background: var(--dark);
  height: 100%;
}

.title {
  font-size: 10rem;
}
.cursor {
  display: block;
  background-color: var(--primary2);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 30;
}

@media (max-width: 26.75rem) {
  .cursor {
    display: none;
  }
}
